In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# For machine learning
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

In [2]:
data= pd.read_csv("house_prices_sample.csv")
data

   Size  Bedrooms  Age   Price
0   850         2   10  200000
1   900         2    5  220000
2  1200         3   15  250000
3  1500         4   20  300000
4  1700         3   10  330000
5  2000         4    5  400000
6  1100         2    8  210000
7  1300         3   12  260000
8  1600         3    8  310000
9  1800         4    3  420000

In [3]:
model = LinearRegression()
model.fit(data.[['Size','Bedrooms','Age']],data.Price)

SyntaxError: invalid syntax (1151579389.py, line 2)

In [4]:
model = LinearRegression()
model.fit(data.[['Size','Bedrooms','Age']],data.Price)
model.predict([[1260,6,28]])

SyntaxError: invalid syntax (937454046.py, line 2)

In [5]:
model = LinearRegression()
model.fit(data.[['Size','Bedrooms','Age']],data.Price)
model.predict([[1260,6,28]])

SyntaxError: invalid syntax (937454046.py, line 2)

In [6]:
model = LinearRegression()
model.fit(data[['Size','Bedrooms','Age']], data.Price)  # Removed the dot before square brackets
model.predict([[1260,6,28]])

C:\Users\DELL\anaconda3\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([348340.27481539])

In [7]:
model.predict([[100,1,1]])

C:\Users\DELL\anaconda3\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([122499.77873478])